In [1]:
import pandas as pd

In [10]:
# Membaca file CSV hasil merge
df_books = pd.read_csv('Amazon_Books(inter).csv')

# Menampilkan 5 baris teratas
print(df_books.head())

   reviewerID        asin                                       title  \
0      366595  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
1      591833  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
2      222211  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
3      351171  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
4      284978  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal

   rating_float
0             1
1             1
2             1
3             1
4             1

In [11]:
# Rename columns
new_columns = {col: f"{col}:token" for col in df_books.columns}
df_books.rename(columns=new_columns, inplace=True)

# Simpan ke file CSV baru
df_books.to_csv("Dataset_Books(inter).csv", index=False)

# Print hasil
print("Data berhasil disimpan ke Dataset_Books(inter).csv")
print(df_books.head())

Data berhasil disimpan ke Dataset_Books(inter).csv
   reviewerID:token  asin:token                                 title:token  \
0            366595  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
1            591833  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
2            222211  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
3            351171  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
4            284978  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal

   rating_float:token
0                   1
1                   1
2                   1
3                   1
4                   1

In [ ]:
import pandas as pd

# Define input and output files 
input_file2 = "Dataset_Books(inter).csv"
inter_file = "Amazon_Books(new).inter"

# Read in chunks to handle large files
chunk_size = 100000  

# Create empty file with headers
pd.DataFrame(columns=["user_id:token", "item_id:token", "rating:float"]).to_csv(inter_file, index=False, sep="\t")

# Process file in chunks
for chunk in pd.read_csv(input_file2, chunksize=chunk_size, low_memory=False):
    # Debugging: Print columns to check names
    print("Columns in chunk before renaming:", chunk.columns.tolist())
    
    # Ensure correct column names
    expected_columns = {"reviewerID:token": "user_id:token", "asin:token": "item_id:token", "rating_float:token": "rating:float"}
    
    # Rename columns only if they exist in the chunk
    available_cols = {col: new_col for col, new_col in expected_columns.items() if col in chunk.columns}
    chunk.rename(columns=available_cols, inplace=True)
    
    # Debugging: Print columns after renaming
    print("Columns in chunk after renaming:", chunk.columns.tolist())
    
    # Ensure all required columns exist
    for new_col in expected_columns.values():
        if new_col not in chunk.columns:
            print(f"⚠️ Warning: Column '{new_col}' is missing, filling with default values.")
            chunk[new_col] = 1 if new_col == "rating:float" else "unknown"
    
    # Select only the required columns
    inter_data = chunk[["user_id:token", "item_id:token", "rating:float"]]
    
    # Append data to respective files (tab-separated)
    inter_data.to_csv(inter_file, mode="a", header=False, index=False, sep="\t")

print("✅ Data successfully saved to Amazon_Books(new).inter")

Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
✅ Data successfully saved to Amazon_Books(new).inter

In [23]:
df_movies = pd.read_csv('Attributes_Movies_and_TV.csv')

df_movies.head()

   reviewerID        asin                                              title
0      586297  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
1      226404  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
2      178001  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
3      388575  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
4      515515  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...

In [ ]:
# Tambah kolom rating:float dengan nilai 1 untuk semua baris
df_movies["rating:float"] = 1

# Simpan ke file CSV baru
df_movies.to_csv("Amazon_Movies&TV(inter).csv", index=False)

# Print hasil
print("Data berhasil disimpan ke Amazon_Movies&TV(inter).csv")

Data berhasil disimpan ke Amazon_Movies&TV(inter).csv

In [25]:
# Membaca file CSV hasil merge
df2 = pd.read_csv('Amazon_Movies&TV(inter).csv')

# Menampilkan 5 baris teratas
print(df2.head())

   reviewerID        asin                                              title  \
0      586297  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
1      226404  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
2      178001  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
3      388575  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
4      515515  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...

   rating_float
0             1
1             1
2             1
3             1
4             1

In [27]:
# Rename columns
new_columns = {col: f"{col}:token" for col in df_movies.columns}
df_movies.rename(columns=new_columns, inplace=True)

# Simpan ke file CSV baru
df_movies.to_csv("Amazon_Movies&TV(inter).csv", index=False)

# Print hasil
print("Data berhasil disimpan ke Amazon_Movies&TV(inter)).csv")
print(df_movies.head())

Data berhasil disimpan ke Amazon_Movies&TV(inter)).csv
   reviewerID:token  asin:token  \
0            586297  GAYDAMJVGI
1            226404  GAYDAMJVGI
2            178001  GAYDAMJVGI
3            388575  GAYDAMJVGI
4            515515  GAYDAMJVGI

                                         title:token  rating_float:token
0  Steve Green: Hide 'em in Your Heart: 13 Bible ...                   1
1  Steve Green: Hide 'em in Your Heart: 13 Bible ...                   1
2  Steve Green: Hide 'em in Your Heart: 13 Bible ...                   1
3  Steve Green: Hide 'em in Your Heart: 13 Bible ...                   1
4  Steve Green: Hide 'em in Your Heart: 13 Bible ...                   1

In [28]:
import pandas as pd

# Define input and output files 
input_file2 = "Amazon_Movies&TV(inter).csv"
inter_file = "Amazon_Movies&TV.inter"

# Read in chunks to handle large files
chunk_size = 100000  

# Create empty file with headers
pd.DataFrame(columns=["user_id:token", "item_id:token", "rating:float"]).to_csv(inter_file, index=False, sep="\t")

# Process file in chunks
for chunk in pd.read_csv(input_file2, chunksize=chunk_size, low_memory=False):
    # Debugging: Print columns to check names
    print("Columns in chunk before renaming:", chunk.columns.tolist())
    
    # Ensure correct column names
    expected_columns = {"reviewerID:token": "user_id:token", "asin:token": "item_id:token", "rating_float:token": "rating:float"}
    
    # Rename columns only if they exist in the chunk
    available_cols = {col: new_col for col, new_col in expected_columns.items() if col in chunk.columns}
    chunk.rename(columns=available_cols, inplace=True)
    
    # Debugging: Print columns after renaming
    print("Columns in chunk after renaming:", chunk.columns.tolist())
    
    # Ensure all required columns exist
    for new_col in expected_columns.values():
        if new_col not in chunk.columns:
            print(f"⚠️ Warning: Column '{new_col}' is missing, filling with default values.")
            chunk[new_col] = 1 if new_col == "rating:float" else "unknown"
    
    # Select only the required columns
    inter_data = chunk[["user_id:token", "item_id:token", "rating:float"]]
    
    # Append data to respective files (tab-separated)
    inter_data.to_csv(inter_file, mode="a", header=False, index=False, sep="\t")

print("✅ Data successfully saved to Amazon_Movies&TV.inter")

Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
Columns in chunk before renaming: ['reviewerID:token', 'asin:token', 'title:token', 'rating_float:token']
Columns in chunk after renaming: ['user_id:token', 'item_id:token', 'title:token', 'rating:float']
✅ Data successfully saved to Amazon_Movies&TV.inter