In [24]:
import pandas as pd
import numpy as np

## LLM-GPT

In [25]:
df1 = pd.read_csv("Dataset_Books.csv")
df2 = pd.read_csv("Dataset_Movies_and_TV.csv")

In [26]:
df1.head()

,item_id,rating,entity_id,head_id,relation_id,tail_id,reviewerID
0,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dct:subject,cat:Hymnal,366595
1,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dct:subject,cat:Hymnal,591833
2,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dbo:author,res:John_Shaw,366595
3,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dbo:author,res:John_Shaw,591833
4,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dbo:composer,res:B._F._White,366595

In [27]:
df2.head()

,item_id,rating,entity_id,head_id,relation_id,tail_id,reviewerID
0,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dbo:director,res:Michael_Merriman,586297
1,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dbo:director,res:Michael_Merriman,226404
2,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dbo:director,res:Michael_Merriman,178001
3,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dbo:director,res:Michael_Merriman,388575
4,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dbo:director,res:Michael_Merriman,515515

In [28]:
# Memuat dataset
df_books = pd.read_csv("Dataset_Books.csv")
df_movies = pd.read_csv("Dataset_Movies_and_TV.csv")

In [29]:
print("Kolom di df_books:", df_books.columns)
print("Kolom di df_movies:", df_movies.columns)

Kolom di df_books: Index(['item_id', 'rating', 'entity_id', 'head_id', 'relation_id', 'tail_id',
       'reviewerID'],
      dtype='object')
Kolom di df_movies: Index(['item_id', 'rating', 'entity_id', 'head_id', 'relation_id', 'tail_id',
       'reviewerID'],
      dtype='object')

In [30]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831820 entries, 0 to 831819
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   item_id      831820 non-null  object
 1   rating       831820 non-null  float64
 2   entity_id    831820 non-null  object
 3   head_id      831820 non-null  object
 4   relation_id  831820 non-null  object
 5   tail_id      831820 non-null  object
 6   reviewerID   831820 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 44.4+ MB

In [31]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934345 entries, 0 to 934344
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   item_id      934345 non-null  object
 1   rating       934345 non-null  float64
 2   entity_id    934345 non-null  object
 3   head_id      934345 non-null  object
 4   relation_id  934345 non-null  object
 5   tail_id      934345 non-null  object
 6   reviewerID   934345 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 49.9+ MB

In [32]:
# # Memuat dataset
# df_books2 = pd.read_csv("Dataset_Books_GEMINI.csv")
# df_movies2 = pd.read_csv("Dataset_Movies_and_TV_GEMINI.csv")

In [33]:
# print("Kolom di df_books:", df_books2.columns)
# print("Kolom di df_movies:", df_movies2.columns)

In [34]:
# df_books2.info()

In [35]:
# df_movies2.info()

## Cross-Domain

In [ ]:
# import pandas as pd

# # ==========================#
# # Konfigurasi File
# # ==========================#

# movies_path = "Dataset_Movies_and_TV.csv"
# books_path = "Dataset_Books.csv"

# # ==========================#
# # Load dan Bersihkan Data
# # ==========================#

# # Load dataset dengan reviewerID
# df_movies = pd.read_csv(movies_path, usecols=["reviewerID", "item_id", "head_id", "tail_id"])
# df_books = pd.read_csv(books_path, usecols=["reviewerID", "item_id", "head_id", "tail_id"])

# # Bersihkan tail_id dari prefix
# df_movies["tail_id"] = df_movies["tail_id"].str.replace(r"(res:|cat:)", "", regex=True).str.strip()
# df_books["tail_id"] = df_books["tail_id"].str.replace(r"(res:|cat:)", "", regex=True).str.strip()

# # Hilangkan duplikat agar lebih efisien
# df_movies = df_movies.drop_duplicates(subset=["reviewerID", "item_id", "head_id", "tail_id"])
# df_books = df_books.drop_duplicates(subset=["reviewerID", "item_id", "head_id", "tail_id"])

# # Cari tail_id yang muncul di kedua domain
# common_tail_ids = set(df_movies["tail_id"]).intersection(set(df_books["tail_id"]))

# # Ambil 1 baris per tail_id dari masing-masing domain
# sampled_movies = df_movies[df_movies["tail_id"].isin(common_tail_ids)].groupby("tail_id").apply(lambda x: x.sample(1)).reset_index(drop=True)
# sampled_books = df_books[df_books["tail_id"].isin(common_tail_ids)].groupby("tail_id").apply(lambda x: x.sample(1)).reset_index(drop=True)

# # Merge berdasarkan tail_id
# merged_df = pd.merge(
#     sampled_movies,
#     sampled_books,
#     on="tail_id",
#     suffixes=("_movies", "_books")
# )

# # Ambil dan ubah nama kolom
# final_df = merged_df[[
#     "reviewerID_movies", "item_id_movies", "head_id_movies",
#     "tail_id", "head_id_books", "item_id_books", "reviewerID_books"
# ]].rename(columns={
#     "reviewerID_movies": "User_id_Movie",
#     "item_id_movies": "Movie_id",
#     "head_id_movies": "Judul_Film",
#     "tail_id": "Relation",
#     "head_id_books": "Judul_Buku",
#     "item_id_books": "Book_id",
#     "reviewerID_books": "User_id_Book"
# })

# # ==========================#
# # Output
# # ==========================#

# print(final_df.head())  # Cetak beberapa baris untuk cek
# final_df.to_csv("Movies_Books_Sample_Merge.csv", index=False)
# print(f"\n✅ Ditemukan {len(final_df)} koneksi antar domain (satu kombinasi unik per tail_id).")

In [1]:
import pandas as pd

# ==========================#
# Konfigurasi File
# ==========================#

movies_path = "Dataset_Movies_and_TV.csv"
books_path = "Dataset_Books.csv"
MAX_PAIRS_PER_TAIL = 5  # Atur sesuai kebutuhan

# ==========================#
# Load dan Bersihkan Data
# ==========================#

# Load dataset
df_movies = pd.read_csv(movies_path, usecols=["item_id", "head_id", "tail_id", "reviewerID"])
df_books = pd.read_csv(books_path, usecols=["item_id", "head_id", "tail_id", "reviewerID"])

# Hilangkan prefix di tail_id
df_movies["tail_id"] = df_movies["tail_id"].str.replace(r"(res:|cat:)", "", regex=True).str.strip()
df_books["tail_id"] = df_books["tail_id"].str.replace(r"(res:|cat:)", "", regex=True).str.strip()

# Hilangkan duplikat
df_movies = df_movies.drop_duplicates(subset=["tail_id", "item_id", "head_id"])
df_books = df_books.drop_duplicates(subset=["tail_id", "item_id", "head_id"])

# Cari tail_id yang muncul di kedua domain
common_tail_ids = set(df_movies["tail_id"]).intersection(set(df_books["tail_id"]))

# Filter berdasarkan relasi yang sama
df_movies_filtered = df_movies[df_movies["tail_id"].isin(common_tail_ids)]
df_books_filtered = df_books[df_books["tail_id"].isin(common_tail_ids)]

# Kelompokkan berdasarkan tail_id
grouped_movies = df_movies_filtered.groupby("tail_id")
grouped_books = df_books_filtered.groupby("tail_id")

# Siapkan struktur data untuk hasil
result_rows = []
used_pairs = set()

# Loop melalui setiap tail_id yang sama
for tail in common_tail_ids:
    if tail not in grouped_books.groups or tail not in grouped_movies.groups:
        continue

    books_group = grouped_books.get_group(tail)
    movies_group = grouped_movies.get_group(tail)

    count = 0  # penghitung untuk setiap tail_id
    for _, movie_row in movies_group.iterrows():
        for _, book_row in books_group.iterrows():
            user_pair = (movie_row["reviewerID"], book_row["reviewerID"])
            if user_pair not in used_pairs:
                used_pairs.add(user_pair)
                result_rows.append({
                    "reviewerID_Movie": movie_row["reviewerID"],
                    "Movie_id": movie_row["item_id"],
                    "Judul_Film": movie_row["head_id"],
                    "Relation": tail,
                    "Judul_Buku": book_row["head_id"],
                    "Book_id": book_row["item_id"],
                    "reviewerID_Book": book_row["reviewerID"]
                })
                count += 1
                if count >= MAX_PAIRS_PER_TAIL:
                    break
        if count >= MAX_PAIRS_PER_TAIL:
            break

# Buat DataFrame hasil akhir
final_df = pd.DataFrame(result_rows)

# ==========================#
# Output
# ==========================#

print(final_df)
final_df.to_csv("Movies_Books_Manual_Merge(2).csv", index=False)
print(f"\n✅ Ditemukan {len(final_df)} koneksi antar domain berdasarkan relasi yang identik!")

      reviewerID_Movie    Movie_id  \
0               317296  GYYTMMBWGA
1               317296  GYYTMMBWGA
2               317296  GYYTMMBWGA
3               317296  GYYTMMBWGA
4               166595  GYZTAMRZGI
...                ...         ...
2192            157110  GA4TQOBWGY
2193            157110  GA4TQOBWGY
2194            160631  GE3DGMZUGI
2195            115321  GYZTAMJWGU
2196             57922  GE2TMMRQGI

                                             Judul_Film              Relation  \
0     res:Pasta_(Award_Winning_Drama)_(Korean_Tv_Dra...
1     res:Pasta_(Award_Winning_Drama)_(Korean_Tv_Dra...
2     res:Pasta_(Award_Winning_Drama)_(Korean_Tv_Dra...
3     res:Pasta_(Award_Winning_Drama)_(Korean_Tv_Dra...
4                              res:Young_Tom_Edison_VHS         Thomas_Edison
...                                                 ...                   ...
2192  res:Behold_Your_God:_Rethinking_God_Biblically...  Christian_Book_Award
2193  res:Behold_Your_God:_Rethinking_God_Biblically...  Christian_Book_Award
2194  res:When_Sinners_Say_&quot;I_Do&quot;_Video_Se...  Christian_Book_Award
2195          res:Rona_Jaffe's_Mazes_&amp;_Monsters_VHS       George_Eckstein
2196                          res:Margaret's_Museum_VHS           Ashley_Judd

                                             Judul_Buku     Book_id  \
0                                      res:Post_Captain  GY4GGZJRHE
1     res:Core_of_the_Yoga_Sutras:_The_Definitive_Gu...  GRQTEZDEMY
2                       res:The_Spice_Islands_Cook_Book  MRSDANJVMY
3     res:Hidden_Cities:_The_Discovery_and_Loss_of_A...  GEZDMNDBGA
4     res:Thomas_Edison:_Young_Inventor_(Childhood_o...  MYZWKNJSMM
...                                                 ...         ...
2192  res:The_Scandalous_Gospel_of_Jesus:_What's_So_...  MQ4DOYZWHB
2193  res:Praying_Like_Jesus:_The_Lord's_Prayer_in_a...  MRRGCMJTGJ
2194                            res:Unlocking_the_Bible  MU4TOZLFGI
2195                           res:Memories_of_Midnight  MFSDCM3BGJ
2196                             res:Where_the_Heart_Is  MZSWCYRQGV

      reviewerID_Book
0              293577
1              463537
2              133005
3               86175
4               86000
...               ...
2192           371657
2193           296289
2194           318192
2195           168360
2196           220535

[2197 rows x 7 columns]

✅ Ditemukan 2197 koneksi antar domain berdasarkan relasi yang identik!

In [58]:
# import pandas as pd

# # ======================= #
# # 1. Load Dataset
# # ======================= #
# # Gantilah path di bawah ini sesuai file CSV kamu
# df_movies = pd.read_csv("Dataset_Movies_and_TV.csv")
# df_books = pd.read_csv("Dataset_Books.csv")

# # ======================= #
# # 2. Filter Tail ID yang Sama
# # ======================= #
# common_tail_ids = set(df_books["tail_id"]).intersection(df_movies["tail_id"])

# df_books = df_books[df_books["tail_id"].isin(common_tail_ids)]
# df_movies = df_movies[df_movies["tail_id"].isin(common_tail_ids)]

# # ======================= #
# # 3. Grouping
# # ======================= #
# grouped_books = df_books.groupby("tail_id")
# grouped_movies = df_movies.groupby("tail_id")

# # ======================= #
# # 4. Generate Unique User Cross-Domain Pairs
# # ======================= #
# result_rows = []
# used_pairs = set()

# for tail in common_tail_ids:
#     books_group = grouped_books.get_group(tail)
#     movies_group = grouped_movies.get_group(tail)

#     for _, movie_row in movies_group.iterrows():
#         for _, book_row in books_group.iterrows():
#             user_pair = (movie_row["reviewerID"], book_row["reviewerID"])
#             if user_pair not in used_pairs:
#                 used_pairs.add(user_pair)
#                 result_rows.append({
#                     "reviewerID_Movie": movie_row["reviewerID"],
#                     "Movie_id": movie_row["item_id"],
#                     "Judul_Film": movie_row["head_id"],
#                     "Relation": tail,
#                     "Judul_Buku": book_row["head_id"],
#                     "Book_id": book_row["item_id"],
#                     "reviewerID_Book": book_row["reviewerID"]
#                 })

# # ======================= #
# # 5. Export as CSV
# # ======================= #
# final_df = pd.DataFrame(result_rows)
# final_df.to_csv("Movie_Book_Merge.csv", index=False)

# print(f"✅ Done! Total unique cross-domain user pairs: {len(final_df)}")

In [4]:
import pandas as pd

# ======================= #
# 1. Load Dataset
# ======================= #
df_movies = pd.read_csv("Dataset_Movies_and_TV_GEMINI.csv")
df_books = pd.read_csv("Dataset_Books_GEMINI.csv")

# ======================= #
# 2. Filter Tail ID yang Sama
# ======================= #
common_tail_ids = set(df_books["tail_id"]).intersection(df_movies["tail_id"])

df_books = df_books[df_books["tail_id"].isin(common_tail_ids)]
df_movies = df_movies[df_movies["tail_id"].isin(common_tail_ids)]

# ======================= #
# 3. Grouping
# ======================= #
grouped_books = df_books.groupby("tail_id")
grouped_movies = df_movies.groupby("tail_id")

# ======================= #
# 4. Generate Unique User Cross-Domain Pairs
# ======================= #
MAX_PAIRS_PER_TAIL = 100000  # batas maksimal pasangan per tail_id
result_rows = []
used_pairs = set()

for tail in common_tail_ids:
    books_group = grouped_books.get_group(tail)
    movies_group = grouped_movies.get_group(tail)

    count = 0  # penghitung untuk setiap tail_id
    for _, movie_row in movies_group.iterrows():
        for _, book_row in books_group.iterrows():
            user_pair = (movie_row["reviewerID"], book_row["reviewerID"])
            if user_pair not in used_pairs:
                used_pairs.add(user_pair)
                result_rows.append({
                    "reviewerID_Movie": movie_row["reviewerID"],
                    "Movie_id": movie_row["item_id"],
                    "Judul_Film": movie_row["head_id"],
                    "Relation": tail,
                    "Judul_Buku": book_row["head_id"],
                    "Book_id": book_row["item_id"],
                    "reviewerID_Book": book_row["reviewerID"]
                })
                count += 1
                if count >= MAX_PAIRS_PER_TAIL:
                    break
        if count >= MAX_PAIRS_PER_TAIL:
            break

# ======================= #
# 5. Export as CSV
# ======================= #
final_df = pd.DataFrame(result_rows)
final_df.to_csv("Movie_Book_Merge_GEMINI.csv", index=False)

print(f"✅ Done! Total unique cross-domain user pairs: {len(final_df)}")

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_3680\2988030106.py:7: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv("Dataset_Books_GEMINI.csv")

✅ Done! Total unique cross-domain user pairs: 4266186

In [3]:
import pandas as pd

# ======================= #
# 1. Load Hasil Dataset
# ======================= #
df_M = pd.read_csv("Movie_Book_Merge_GEMINI.csv")

# ======================= #
# 2. Hitung Unique Users dan Items
# ======================= #
unique_users = pd.unique(df_M[["reviewerID_Movie", "reviewerID_Book"]].values.ravel())
unique_items = pd.unique(df_M[["Movie_id", "Book_id"]].values.ravel())

num_users = len(unique_users)
num_items = len(unique_items)
num_interactions = len(df_M)

# ======================= #
# 3. Hitung Sparsity
# ======================= #
possible_interactions = num_users * num_items
sparsity = 1 - (num_interactions / possible_interactions)

print(f"🧮 Jumlah User Unik      : {num_users}")
print(f"🧮 Jumlah Item Unik      : {num_items}")
print(f"✅ Jumlah Interaksi      : {num_interactions}")
print(f"📉 Sparsity              : {sparsity:.6f} (atau {sparsity*100:.2f}%)")

🧮 Jumlah User Unik      : 34969
🧮 Jumlah Item Unik      : 961
✅ Jumlah Interaksi      : 1043830
📉 Sparsity              : 0.968938 (atau 96.89%)

In [6]:
import pandas as pd

# ======================= #
# 1. Load Dataset
# ======================= #
df_movies = pd.read_csv("Dataset_Movies_and_TV.csv")
df_books = pd.read_csv("Dataset_Books.csv")

# ======================= #
# 2. Filter Tail ID yang Sama
# ======================= #
common_tail_ids = set(df_books["tail_id"]).intersection(df_movies["tail_id"])

df_books = df_books[df_books["tail_id"].isin(common_tail_ids)]
df_movies = df_movies[df_movies["tail_id"].isin(common_tail_ids)]

# ======================= #
# 3. Grouping
# ======================= #
grouped_books = df_books.groupby("tail_id")
grouped_movies = df_movies.groupby("tail_id")

# ======================= #
# 4. Generate Unique User Cross-Domain Pairs
# ======================= #
MAX_PAIRS_PER_TAIL = 100  # batas maksimal pasangan per tail_id
result_rows = []
used_pairs = set()

for tail in common_tail_ids:
    books_group = grouped_books.get_group(tail)
    movies_group = grouped_movies.get_group(tail)

    count = 0  # penghitung untuk setiap tail_id
    for _, movie_row in movies_group.iterrows():
        for _, book_row in books_group.iterrows():
            user_pair = (movie_row["reviewerID"], book_row["reviewerID"])
            if user_pair not in used_pairs:
                used_pairs.add(user_pair)
                result_rows.append({
                    "reviewerID_Movie": movie_row["reviewerID"],
                    "Movie_id": movie_row["item_id"],
                    "Judul_Film": movie_row["head_id"],
                    "Relation": tail,
                    "Judul_Buku": book_row["head_id"],
                    "Book_id": book_row["item_id"],
                    "reviewerID_Book": book_row["reviewerID"]
                })
                count += 1
                if count >= MAX_PAIRS_PER_TAIL:
                    break
        if count >= MAX_PAIRS_PER_TAIL:
            break

# ======================= #
# 5. Export as CSV
# ======================= #
final_df = pd.DataFrame(result_rows)
final_df.to_csv("Movie_Book_Merge.csv", index=False)

print(f"✅ Done! Total unique cross-domain user pairs: {len(final_df)}")

✅ Done! Total unique cross-domain user pairs: 66490

In [2]:
import pandas as pd

# ======================= #
# 1. Load Hasil Dataset
# ======================= #
df = pd.read_csv("Movie_Book_Merge.csv")

# ======================= #
# 2. Hitung Unique Users dan Items
# ======================= #
unique_users = pd.unique(df[["reviewerID_Movie", "reviewerID_Book"]].values.ravel())
unique_items = pd.unique(df[["Movie_id", "Book_id"]].values.ravel())

num_users = len(unique_users)
num_items = len(unique_items)
num_interactions = len(df)

# ======================= #
# 3. Hitung Sparsity
# ======================= #
possible_interactions = num_users * num_items
sparsity = 1 - (num_interactions / possible_interactions)

print(f"🧮 Jumlah User Unik      : {num_users}")
print(f"🧮 Jumlah Item Unik      : {num_items}")
print(f"✅ Jumlah Interaksi      : {num_interactions}")
print(f"📉 Sparsity              : {sparsity:.6f} (atau {sparsity*100:.2f}%)")

🧮 Jumlah User Unik      : 22570
🧮 Jumlah Item Unik      : 1830
✅ Jumlah Interaksi      : 66490
📉 Sparsity              : 0.998390 (atau 99.84%)

## Fixed

### GEMINI

In [1]:
import pandas as pd

df1 = pd.read_csv("Dataset_Books_GEMINI.csv")
df2 = pd.read_csv("Dataset_Movies_and_TV_GEMINI.csv")

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14220\3991646328.py:3: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("Dataset_Books_GEMINI.csv")

In [2]:
df1.head()

,item_id,rating,entity_id,head_id,relation_id,tail_id,reviewerID
0,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dbo:genre,cat:Hymnal,366595
1,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dbo:genre,cat:Hymnal,591833
2,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dbo:literaryGenre,cat:Hymnal,366595
3,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dbo:literaryGenre,cat:Hymnal,591833
4,MNTGGZBSGA,1.0,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal,dct:subject,cat:Hymns,366595

In [3]:
df2.head()

,item_id,rating,entity_id,head_id,relation_id,tail_id,reviewerID
0,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dct:subject,cat:Christianity,586297
1,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dct:subject,cat:Christianity,226404
2,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dct:subject,cat:Christianity,178001
3,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dct:subject,cat:Children's_Music,586297
4,GAYDAMJVGI,1.0,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,dct:subject,cat:Children's_Music,226404

In [51]:
import pandas as pd
import openai

# ==========================#
# Konfigurasi File & API
# ==========================#

movies_path = "Dataset_Movies_and_TV_GEMINI.csv"
books_path = "Dataset_Books_GEMINI.csv"

# ==========================#
# Load dan Bersihkan Data
# ==========================#

# Load dataset
df_movies = pd.read_csv(movies_path, usecols=["item_id", "head_id", "tail_id"])
df_books = pd.read_csv(books_path, usecols=["item_id", "head_id", "tail_id"])

# Hilangkan prefix di tail_id
df_movies["tail_id"] = df_movies["tail_id"].str.replace(r"(res:|cat:)", "", regex=True).str.strip()
df_books["tail_id"] = df_books["tail_id"].str.replace(r"(res:|cat:)", "", regex=True).str.strip()

# Hilangkan duplikat
df_movies = df_movies.drop_duplicates(subset=["tail_id", "item_id", "head_id"])
df_books = df_books.drop_duplicates(subset=["tail_id", "item_id", "head_id"])

# Cari tail_id yang muncul di kedua domain
common_tail_ids = set(df_movies["tail_id"]).intersection(set(df_books["tail_id"]))

# Filter berdasarkan relasi yang sama
df_movies_filtered = df_movies[df_movies["tail_id"].isin(common_tail_ids)]
df_books_filtered = df_books[df_books["tail_id"].isin(common_tail_ids)]

# Merge manual berdasarkan relasi yang sama (tail_id)
merged_df = pd.merge(df_movies_filtered, df_books_filtered, on="tail_id", suffixes=("_movies", "_books"))

# Ambil kolom yang diperlukan
final_df = merged_df[[
    "item_id_movies", "head_id_movies", "tail_id", "head_id_books", "item_id_books"
]].rename(columns={
    "item_id_movies": "Movie_id",
    "head_id_movies": "Judul_Film",
    "tail_id": "Relation",
    "head_id_books": "Judul_Buku",
    "item_id_books": "Book_id"
})

# ==========================#
# Output
# ==========================#

print(final_df)
final_df.to_csv("Movies_Books_Manual_Merge_GEMINI.csv", index=False)
print(f"\n✅ Ditemukan {len(final_df)} koneksi antar domain berdasarkan relasi yang identik!")

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_21428\4214430225.py:17: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv(books_path, usecols=["item_id", "head_id", "tail_id"])

         Movie_id                                         Judul_Film  \
0      GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
1      GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
2      GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
3      GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
4      GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
...           ...                                                ...
55005  GYZTANJSGY                             res:Permanent_Midnight
55006  GYZTANJSGY                             res:Permanent_Midnight
55007  GYZTANJSGY                             res:Permanent_Midnight
55008  GYZTANJSGY                             res:Permanent_Midnight
55009  GYZTANJSGY                             res:Permanent_Midnight

            Relation                                         Judul_Buku  \
0       Christianity                         res:The_Book_of_Revelation
1       Christianity                            res:Celtic_Daily_Prayer
2       Christianity  res:A_Year_With_C._S._Lewis_:_365_Daily_Readin...
3       Christianity  res:The_Jesus_Papers:_Exposing_the_Greatest_Co...
4       Christianity                            res:The_Last_Temptation
...              ...                                                ...
55005  United_States                                    res:The_Prophet
55006  United_States  res:The_Berenstains'_B_Book_(Bright_&_Early_Bo...
55007        English  res:The_Very_Bad_Bunny_(A_Beginner_Book)_(Begi...
55008        English  res:You_Can&rsquo;t_Read_This_Book:_Censorship...
55009      Hollywood             res:I_Heart_Hollywood_(I_Heart_Series)

          Book_id
0      MFQWEMZSGM
1      MVSWENRZME
2      GQZTAYZTGY
3      MRRTKODFGN
4      GVSDMMJWMR
...           ...
55005  MM4DCZJXGI
55006  GRSTOMZSMN
55007  GE4DEYTFGB
55008  GFRTMNLDMV
55009  GRSDEZJXMJ

[55010 rows x 5 columns]

✅ Ditemukan 55010 koneksi antar domain berdasarkan relasi yang identik!

In [53]:
# ==========================#
# Hitung Sparsity
# ==========================#

# Hitung jumlah unik item Movie dan Book dari final_df
n_movie_items = final_df["Movie_id"].nunique()
n_book_items = final_df["Book_id"].nunique()

# Hitung jumlah pasangan aktual (baris dalam final_df)
n_actual_pairs = len(final_df)

# Hitung sparsity
sparsity = 1 - (n_actual_pairs / (n_movie_items * n_book_items))
print(f"Sparsity (tanpa user_id): {sparsity:.4f}")

Sparsity (tanpa user_id): 0.8565

In [4]:
df_b = pd.read_csv("Movies_Books_Manual_Merge_GEMINI.csv")
df_b.head()

,Movie_id,Judul_Film,Relation,Judul_Buku,Book_id
0,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:The_Book_of_Revelation,MFQWEMZSGM
1,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:Celtic_Daily_Prayer,MVSWENRZME
2,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:A_Year_With_C._S._Lewis_:_365_Daily_Readin...,GQZTAYZTGY
3,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:The_Jesus_Papers:_Exposing_the_Greatest_Co...,MRRTKODFGN
4,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:The_Last_Temptation,GVSDMMJWMR

### GPT

In [55]:
import pandas as pd
import openai

# ==========================#
# Konfigurasi File & API
# ==========================#

movies_path = "Dataset_Movies_and_TV.csv"
books_path = "Dataset_Books.csv"

# ==========================#
# Load dan Bersihkan Data
# ==========================#

# Load dataset
df_movies = pd.read_csv(movies_path, usecols=["item_id", "head_id", "tail_id"])
df_books = pd.read_csv(books_path, usecols=["item_id", "head_id", "tail_id"])

# Hilangkan prefix di tail_id
df_movies["tail_id"] = df_movies["tail_id"].str.replace(r"(res:|cat:)", "", regex=True).str.strip()
df_books["tail_id"] = df_books["tail_id"].str.replace(r"(res:|cat:)", "", regex=True).str.strip()

# Hilangkan duplikat
df_movies = df_movies.drop_duplicates(subset=["tail_id", "item_id", "head_id"])
df_books = df_books.drop_duplicates(subset=["tail_id", "item_id", "head_id"])

# Cari tail_id yang muncul di kedua domain
common_tail_ids = set(df_movies["tail_id"]).intersection(set(df_books["tail_id"]))

# Filter berdasarkan relasi yang sama
df_movies_filtered = df_movies[df_movies["tail_id"].isin(common_tail_ids)]
df_books_filtered = df_books[df_books["tail_id"].isin(common_tail_ids)]

# Merge manual berdasarkan relasi yang sama (tail_id)
merged_df = pd.merge(df_movies_filtered, df_books_filtered, on="tail_id", suffixes=("_movies", "_books"))

# Ambil kolom yang diperlukan
final_df = merged_df[[
    "item_id_movies", "head_id_movies", "tail_id", "head_id_books", "item_id_books"
]].rename(columns={
    "item_id_movies": "Movie_id",
    "head_id_movies": "Judul_Film",
    "tail_id": "Relation",
    "head_id_books": "Judul_Buku",
    "item_id_books": "Book_id"
})

# ==========================#
# Output
# ==========================#

print(final_df)
final_df.to_csv("Movies_Books_Manual_Merge_GPT.csv", index=False)
print(f"\n✅ Ditemukan {len(final_df)} koneksi antar domain berdasarkan relasi yang identik!")

          Movie_id                                         Judul_Film  \
0       GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
1       GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
2       GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
3       GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
4       GAYDAMJVGI  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
...            ...                                                ...
157324  GYZTANJSGY                             res:Permanent_Midnight
157325  GYZTANJSGY                             res:Permanent_Midnight
157326  GYZTANJSGY                             res:Permanent_Midnight
157327  GYZTANJSGY                             res:Permanent_Midnight
157328  GYZTANJSGY                             res:Permanent_Midnight

             Relation                                         Judul_Buku  \
0        Christianity                        res:Biography_of_C.S._Lewis
1        Christianity  res:Jesus_Rediscovered_(Fontana_Religious_Series)
2        Christianity  res:The_pilgrim's_regress:_An_allegorical_apol...
3        Christianity                              res:Jesus_of_Nazareth
4        Christianity                               res:Strength_to_Love
...               ...                                                ...
157324  United_States                           res:Hitler's_Last_Gamble
157325  United_States                            res:The_Art_of_Dreaming
157326  United_States  res:La_Storia:_Five_Centuries_of_the_Italian_A...
157327  United_States                           res:The_Poisonwood_Bible
157328  United_States                                      res:Up_Island

           Book_id
0       GJQTGODBGR
1       HBSDGYTCME
2       GU3TGN3DGZ
3       MYZGMYZZHE
4       HA4WMMDGMQ
...            ...
157324  MJSDGZLGGV
157325  G4ZWGMJUGA
157326  GU3DKNZXHA
157327  MVRWMNJWGM
157328  MRSTANBTME

[157329 rows x 5 columns]

✅ Ditemukan 157329 koneksi antar domain berdasarkan relasi yang identik!

In [56]:
# ==========================#
# Hitung Sparsity
# ==========================#

# Hitung jumlah unik item Movie dan Book dari final_df
n_movie_items = final_df["Movie_id"].nunique()
n_book_items = final_df["Book_id"].nunique()

# Hitung jumlah pasangan aktual (baris dalam final_df)
n_actual_pairs = len(final_df)

# Hitung sparsity
sparsity = 1 - (n_actual_pairs / (n_movie_items * n_book_items))
print(f"Sparsity (tanpa user_id): {sparsity:.4f}")

Sparsity (tanpa user_id): 0.9346

In [5]:
df_b2 = pd.read_csv("Movies_Books_Manual_Merge_GPT.csv")
df_b2.head()

,Movie_id,Judul_Film,Relation,Judul_Buku,Book_id
0,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:Biography_of_C.S._Lewis,GJQTGODBGR
1,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:Jesus_Rediscovered_(Fontana_Religious_Series),HBSDGYTCME
2,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:The_pilgrim's_regress:_An_allegorical_apol...,GU3TGN3DGZ
3,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:Jesus_of_Nazareth,MYZGMYZZHE
4,GAYDAMJVGI,res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...,Christianity,res:Strength_to_Love,HA4WMMDGMQ

In [ ]:
# final_df.to_csv("Movies_Books_LLM_KG_GPT.csv", index=False)

In [ ]:
# # Ambil tail_id yang sama
# common_tail_ids = set(df_books['tail_id']).intersection(df_movies['tail_id'])
# df_books = df_books[df_books['tail_id'].isin(common_tail_ids)].copy()
# df_movies = df_movies[df_movies['tail_id'].isin(common_tail_ids)].copy()

# # Potong df_movies jadi batch kecil (misalnya 100 bagian)
# chunks = np.array_split(df_movies, 1000)

# result_list = []

# for i, chunk in enumerate(chunks):
#     merged = pd.merge(
#         chunk,
#         df_books,
#         on="tail_id",
#         how="inner",
#         suffixes=("_movies", "_books")
#     )

#     merged = merged[
#         ["item_id_movies", "head_id_movies", "tail_id", "head_id_books", "item_id_books", "reviewerID_books"]
#     ].rename(columns={
#         "item_id_movies": "Movie_ID",
#         "head_id_movies": "Judul_Film",
#         "tail_id": "Relation",
#         "head_id_books": "Judul_Buku",
#         "item_id_books": "Book_ID",
#         "reviewerID_books": "User_ID"
#     })

#     # Simpan hasil per batch
#     merged.to_csv(f"merged_batch_{i+1}.csv", index=False)
#     print(f"✅ Batch {i+1}/{len(chunks)} disimpan, {len(merged)} baris")

# # Gabungkan semua batch
# final_df = pd.concat(result_list, ignore_index=True)

# # (Optional) Hapus duplikat jika diperlukan
# final_df.drop_duplicates(inplace=True)

# # Simpan ke CSV
# final_df.to_csv("Cross-domain-GPT.csv", index=False)
# print("✅ File berhasil disimpan dengan total:", len(final_df), "baris")