In [1]:
import pandas as pd

In [2]:
# Membaca file CSV hasil merge
df_reviews = pd.read_csv('Attributes_Books.csv')

# Menampilkan 5 baris teratas
print(df_reviews.head())

   reviewerID        asin                                       title
0      366595  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
1      591833  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
2      222211  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
3      351171  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal
4      284978  MNTGGZBSGA  Heavenly Highway Hymns: Shaped-Note Hymnal

In [3]:
# Menghitung jumlah total reviewerID unik
num_unique_reviewers = df_reviews['reviewerID'].nunique()
num_total_reviewers = len(df_reviews['reviewerID'])

print(f"Jumlah total reviewerID: {num_total_reviewers}")
print(f"Jumlah reviewerID unik: {num_unique_reviewers}")

Jumlah total reviewerID: 752034
Jumlah reviewerID unik: 598882

In [4]:
# Group by 'asin' and aggregate reviewerID into a list
reviewer_counts = df_reviews.groupby('asin')['reviewerID'].agg(['nunique', list])

# Rename columns for clarity
reviewer_counts = reviewer_counts.rename(columns={'nunique': 'Number of Reviewers', 'list': 'Reviewer IDs'})

reviewer_counts

,Number of Reviewers,Reviewer IDs
asin,,
G42DANZRME,183,"[23883, 294127, 64389, 190743, 33764, 344009, ..."
G42DAYJQGJ,3,"[479687, 592526, 52742]"
G42DGMBWMV,2,"[477594, 75541]"
G42DGMZZGR,30,"[220251, 154822, 238892, 488623, 405260, 41196..."
G42DGN3EGE,8,"[70248, 471659, 60374, 51963, 581820, 587820, ..."
...,...,...
MZTGGNJYGE,33,"[331459, 96848, 396819, 192864, 399208, 237000..."
MZTGINJSMY,7,"[551863, 264251, 359218, 285945, 321714, 97667..."
MZTGKYLCMQ,2,"[156194, 358726]"
MZTGKZDGGV,8,"[583033, 155028, 414584, 366043, 264990, 39629..."
MZTGKZLEHA,162,"[254720, 576211, 266594, 13404, 482159, 545943..."

In [5]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752034 entries, 0 to 752033
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   reviewerID  752034 non-null  int64
 1   asin        752034 non-null  object
 2   title       752034 non-null  object
dtypes: int64(1), object(2)
memory usage: 17.2+ MB

In [6]:
df_books = pd.read_csv('KGLLM_ChatGPT_Books_Unique.csv')

print(df_books.head())

      item_id  rating                                       entity_id  \
0  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal
1  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal
2  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal
3  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal
4  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal

                                          head_id        relation_id  \
0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal        dct:subject
1  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal         dbo:author
2  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal       dbo:composer
3  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal          dbo:genre
4  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal  dbo:literaryGenre

               tail_id
0           cat:Hymnal
1        res:John_Shaw
2      res:B._F._White
3  cat:Christian_music
4  cat:Religious_music

In [7]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42255 entries, 0 to 42254
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   item_id      42255 non-null  object
 1   rating       42255 non-null  float64
 2   entity_id    42255 non-null  object
 3   head_id      42255 non-null  object
 4   relation_id  42255 non-null  object
 5   tail_id      42255 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.9+ MB

In [8]:
# Pastikan kolom yang tersedia
print("Kolom di df_reviews:", df_reviews.columns)
print("Kolom di df_books:", df_books.columns)

Kolom di df_reviews: Index(['reviewerID', 'asin', 'title'], dtype='object')
Kolom di df_books: Index(['item_id', 'rating', 'entity_id', 'head_id', 'relation_id', 'tail_id'], dtype='object')

In [9]:
# Pastikan hanya kolom yang diperlukan
df_reviews = df_reviews[['reviewerID', 'asin', 'title']]
df_books = df_books[['item_id', 'rating', 'entity_id', 'head_id', 'relation_id', 'tail_id']]

# Ubah nama kolom 'asin' di df_reviews menjadi 'item_id' agar cocok dengan df_books
df_reviews = df_reviews.rename(columns={'asin': 'item_id'})

# Kelompokkan reviewerID berdasarkan item_id
reviewer_groups = df_reviews.groupby('item_id')['reviewerID'].agg(list).reset_index()

# Gabungkan dataset df_books dengan daftar reviewerID
df_books = df_books.merge(reviewer_groups, on='item_id', how='left')

# Fungsi untuk memperbanyak triplet agar jumlahnya sesuai dengan jumlah reviewerID
expanded_rows = []
for _, row in df_books.iterrows():
    item_data = row.drop(labels=['reviewerID']).to_dict()
    reviewers = row['reviewerID'] if isinstance(row['reviewerID'], list) else []
    
    num_triplets = len(df_books[df_books['item_id'] == row['item_id']])
    num_reviewers = len(reviewers)
    
    if num_reviewers > num_triplets:
        repeat_factor = (num_reviewers + num_triplets - 1) // num_triplets  # Pembulatan ke atas
        triplet_expanded = [item_data] * repeat_factor  # Gandakan triplet
    else:
        triplet_expanded = [item_data] * num_triplets  # Biarkan tetap sama jika tidak perlu digandakan
    
    for triplet, reviewer in zip(triplet_expanded, reviewers):
        new_row = triplet.copy()
        new_row['reviewerID'] = reviewer
        expanded_rows.append(new_row)

# Konversi hasil ke DataFrame
df_final = pd.DataFrame(expanded_rows)

# Simpan hasil ke CSV
output_file = 'Dataset_Books.csv'
df_final.to_csv(output_file, index=False, encoding='utf-8')

print(f"Hasil merge disimpan ke {output_file}")

Hasil merge disimpan ke Dataset_Books.csv

In [10]:
# # Pastikan hanya kolom yang diperlukan
# df_reviews = df_reviews[['reviewerID', 'asin', 'title']]
# df_books = df_books[['item_id', 'rating', 'entity_id', 'head_id', 'relation_id', 'tail_id']]

# # Ubah nama kolom 'asin' di df_reviews menjadi 'item_id' agar cocok dengan df_movies
# df_reviews = df_reviews.rename(columns={'asin': 'item_id'})

# # Kelompokkan reviewerID berdasarkan item_id
# reviewer_groups = df_reviews.groupby('item_id')['reviewerID'].apply(list).reset_index()

# # Gabungkan dataset triplets dengan daftar reviewerID
# df_books = df_books.merge(reviewer_groups, on='item_id', how='left')

# # Fungsi generator untuk menghindari penggunaan memori berlebihan
# def expand_rows(df):
#     for _, row in df.iterrows():
#         item_data = row.drop(labels=["reviewerID"], errors='ignore').to_dict()
#         reviewers = row["reviewerID"] if isinstance(row["reviewerID"], list) else []
        
#         if reviewers:
#             for reviewer in reviewers:
#                 yield {**item_data, "reviewerID": reviewer}
#         else:
#             yield item_data  # Tambahkan tanpa reviewer jika tidak ada

# # Nama file output
# output_file = 'Dataset_Books.csv'

# # Ambil kolom yang akan digunakan untuk header
# header_cols = list(df_books.drop(columns=["reviewerID"], errors='ignore').columns) + ["reviewerID"]

# # Tulis hasil ke file CSV dalam mode append untuk hemat memori
# with open(output_file, 'w', encoding='utf-8', newline='') as f:
#     pd.DataFrame(columns=header_cols).to_csv(f, index=False)  # Tulis header

# # Proses data dalam potongan kecil agar tidak memakan terlalu banyak memori
# chunk_size = 10000  # Sesuaikan jika perlu
# buffer = []

# for row in expand_rows(df_books):
#     buffer.append(row)
#     if len(buffer) >= chunk_size:
#         pd.DataFrame(buffer).to_csv(output_file, mode='a', header=False, index=False)
#         buffer = []  # Kosongkan buffer untuk menghindari MemoryError

# # Tulis sisa data yang belum disimpan
# if buffer:
#     pd.DataFrame(buffer).to_csv(output_file, mode='a', header=False, index=False)

# print(f"Hasil merge disimpan ke {output_file}")

In [11]:
# Nama file input dan output
input_file = 'Dataset_Books.csv'
output_file = 'Reviewer_Counts_Books.csv'

# Ukuran chunk untuk membaca file CSV bertahap
chunk_size = 50000  # Sesuaikan jika masih terjadi MemoryError

# Dictionary untuk menyimpan jumlah reviewer dan daftar reviewerID per item_id
reviewer_dict = {}

# Baca file dalam chunk
for chunk in pd.read_csv(input_file, chunksize=chunk_size, usecols=['item_id', 'reviewerID']):
    for item_id, reviewer_id in zip(chunk['item_id'], chunk['reviewerID']):
        if item_id not in reviewer_dict:
            reviewer_dict[item_id] = set()  # Gunakan set agar reviewerID unik
        reviewer_dict[item_id].add(reviewer_id)

# Konversi dictionary ke DataFrame
reviewer_counts = pd.DataFrame({
    'item_id': list(reviewer_dict.keys()),
    'Number of Reviewers': [len(revs) for revs in reviewer_dict.values()],
    'Reviewer IDs': [list(revs) for revs in reviewer_dict.values()]
})

# Simpan hasil ke file CSV
reviewer_counts.to_csv(output_file, index=False)

print(f"Hasil perhitungan reviewer disimpan ke {output_file}")

Hasil perhitungan reviewer disimpan ke Reviewer_Counts_Books.csv

In [12]:
df1 = pd.read_csv('Dataset_Books.csv')

print(df1.head())

      item_id  rating                                       entity_id  \
0  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal
1  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal
2  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal
3  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal
4  MNTGGZBSGA     1.0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal

                                          head_id   relation_id  \
0  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal   dct:subject
1  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal   dct:subject
2  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal    dbo:author
3  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal    dbo:author
4  res:Heavenly_Highway_Hymns:_Shaped-Note_Hymnal  dbo:composer

           tail_id  reviewerID
0       cat:Hymnal      366595
1       cat:Hymnal      591833
2    res:John_Shaw      366595
3    res:John_Shaw      591833
4  res:B._F._White      366595

In [13]:
# Group by 'asin' and aggregate reviewerID into a list
reviewer_counts = df1.groupby('item_id')['reviewerID'].agg(['nunique', list])

# Rename columns for clarity
reviewer_counts = reviewer_counts.rename(columns={'nunique': 'Number of Reviewers', 'list': 'Reviewer IDs'})

reviewer_counts

,Number of Reviewers,Reviewer IDs
item_id,,
G42DANZRME,16,"[23883, 294127, 64389, 190743, 33764, 344009, ..."
G42DAYJQGJ,3,"[479687, 592526, 52742, 479687, 592526, 52742,..."
G42DGMBWMV,2,"[477594, 75541, 477594, 75541, 477594, 75541, ..."
G42DGMZZGR,3,"[220251, 154822, 238892, 220251, 154822, 23889..."
G42DGN3EGE,2,"[70248, 471659, 70248, 471659, 70248, 471659, ..."
...,...,...
MZTGGNJYGE,3,"[331459, 96848, 396819, 331459, 96848, 396819,..."
MZTGINJSMY,7,"[551863, 264251, 359218, 285945, 321714, 97667..."
MZTGKYLCMQ,2,"[156194, 358726, 156194, 358726, 156194, 35872..."
MZTGKZDGGV,8,"[583033, 155028, 414584, 366043, 264990, 39629..."
MZTGKZLEHA,18,"[254720, 576211, 266594, 13404, 482159, 545943..."

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831820 entries, 0 to 831819
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   item_id      831820 non-null  object
 1   rating       831820 non-null  float64
 2   entity_id    831820 non-null  object
 3   head_id      831820 non-null  object
 4   relation_id  831820 non-null  object
 5   tail_id      831820 non-null  object
 6   reviewerID   831820 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 44.4+ MB

In [15]:
print(df1['item_id'].nunique())

4271