In [37]:
import pandas as pd

In [38]:
# Membaca file CSV hasil merge
df_reviews = pd.read_csv('Attributes_Movies_and_TV.csv')

# Menampilkan 5 baris teratas
print(df_reviews.head())

   reviewerID        asin                                              title
0      586297  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
1      226404  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
2      178001  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
3      388575  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...
4      515515  GAYDAMJVGI  Steve Green: Hide 'em in Your Heart: 13 Bible ...

In [39]:
# Menghitung jumlah total reviewerID unik
num_unique_reviewers = df_reviews['reviewerID'].nunique()
num_total_reviewers = len(df_reviews['reviewerID'])

print(f"Jumlah total reviewerID: {num_total_reviewers}")
print(f"Jumlah reviewerID unik: {num_unique_reviewers}")

Jumlah total reviewerID: 925636
Jumlah reviewerID unik: 617170

In [40]:
# Menghitung jumlah baris dalam dataset
num_rows = len(df_reviews)

# Menampilkan jumlah baris
print(f"Jumlah baris dalam dataset: {num_rows}")

Jumlah baris dalam dataset: 925636

In [41]:
# Group by 'asin' and aggregate reviewerID into a list
reviewer_counts = df_reviews.groupby('asin')['reviewerID'].agg(['nunique', list])

# Rename columns for clarity
reviewer_counts = reviewer_counts.rename(columns={'nunique': 'Number of Reviewers', 'list': 'Reviewer IDs'})

reviewer_counts

,Number of Reviewers,Reviewer IDs
asin,,
GA2TCMBVGM,272,"[60157, 253582, 295477, 101963, 228413, 220050..."
GA2TINBUGU,1,[476721]
GA2TOOBQGA,29,"[338315, 1474, 234244, 571883, 375289, 184513,..."
GA2TOOBQGQ,35,"[299288, 182647, 34939, 292569, 575668, 246618..."
GA3DCNJRGE,81,"[305549, 18450, 369726, 400197, 214062, 307628..."
...,...,...
GYZTANJSGI,2413,"[322783, 194475, 52895, 111701, 106818, 587358..."
GYZTANJSGM,836,"[45388, 347415, 298945, 398816, 171174, 174625..."
GYZTANJSGQ,1459,"[477764, 218374, 239014, 612242, 281704, 25188..."
GYZTANJSGU,256,"[458991, 590625, 278891, 309693, 357127, 13120..."
GYZTANJSGY,685,"[610423, 456766, 602671, 328894, 150113, 32173..."

In [42]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925636 entries, 0 to 925635
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   reviewerID  925636 non-null  int64
 1   asin        925636 non-null  object
 2   title       925636 non-null  object
dtypes: int64(1), object(2)
memory usage: 21.2+ MB

In [43]:
print(df_reviews['asin'].nunique())  # Menghitung jumlah item unik

772

In [44]:
df_movies = pd.read_csv('KGLLM_ChatGPT_Movies&TV_Unique.csv')

print(df_movies.head())

      item_id  rating                                          entity_id  \
0  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
1  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
2  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
3  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
4  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...

                                             head_id   relation_id  \
0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:director
1  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:composer
2  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:producer
3  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:starring
4  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...   dct:subject

                tail_id
0  res:Michael_Merriman
1       res:Steve_Green
2    res:Lauralee_Keach
3       res:Steve_Green
4      cat:Christianity

In [45]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8351 entries, 0 to 8350
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   item_id      8351 non-null   object
 1   rating       8351 non-null   float64
 2   entity_id    8351 non-null   object
 3   head_id      8351 non-null   object
 4   relation_id  8351 non-null   object
 5   tail_id      8351 non-null   object
dtypes: float64(1), object(5)
memory usage: 391.6+ KB

In [46]:
print(df_movies['item_id'].nunique())  # Menghitung jumlah item unik

772

In [47]:
# Pastikan kolom yang tersedia
print("Kolom di df_reviews:", df_reviews.columns)
print("Kolom di df_movies:", df_movies.columns)

Kolom di df_reviews: Index(['reviewerID', 'asin', 'title'], dtype='object')
Kolom di df_movies: Index(['item_id', 'rating', 'entity_id', 'head_id', 'relation_id', 'tail_id'], dtype='object')

In [ ]:
# import pandas as pd

# # Pastikan hanya kolom yang diperlukan
# df_reviews = df_reviews[['reviewerID', 'asin', 'title']]
# df_movies = df_movies[['item_id', 'rating', 'entity_id', 'head_id', 'relation_id', 'tail_id']]

# # Ubah nama kolom 'asin' di df_reviews menjadi 'item_id' agar cocok dengan df_movies
# df_reviews = df_reviews.rename(columns={'asin': 'item_id'})

# # Kelompokkan reviewerID berdasarkan item_id
# reviewer_groups = df_reviews.groupby('item_id')['reviewerID'].agg(list).reset_index()

# # Gabungkan dataset triplets dengan daftar reviewerID
# df_movies = df_movies.merge(reviewer_groups, on='item_id', how='left')

# # Fungsi untuk menghindari duplikat reviewerID dan memastikan jumlah baris sesuai
# def expand_rows(df):
#     result = []
#     for _, row in df.iterrows():
#         item_data = row.drop(labels=["reviewerID"], errors='ignore').to_dict()
#         reviewers = row["reviewerID"] if isinstance(row["reviewerID"], list) else []
        
#         # Jika jumlah reviewerID lebih besar dari jumlah triplet, kita akan menduplikasi baris item
#         num_reviewers = len(reviewers)
#         num_triplets = len(row.drop(labels=["reviewerID"], errors='ignore'))
        
#         # Jika jumlah reviewerID lebih besar dari jumlah triplet, ganda itemnya
#         if num_reviewers > num_triplets:
#             repeated_item_data = [item_data] * num_reviewers
#             for i, repeated_item in enumerate(repeated_item_data):
#                 result.append({**repeated_item, "reviewerID": reviewers[i % num_reviewers]})
#         else:
#             # Jika jumlah reviewerID tidak lebih banyak dari triplet, maka buatkan per baris untuk setiap reviewer
#             for reviewer in reviewers:
#                 result.append({**item_data, "reviewerID": reviewer})
#     return result

# # Proses data dalam potongan kecil agar tidak memakan terlalu banyak memori
# chunk_size = 10000  # Sesuaikan jika perlu
# buffer = []

# # Menghasilkan data yang sudah diperbaiki sesuai instruksi
# expanded_data = expand_rows(df_movies)

# # Tulis hasil ke file CSV dalam mode append untuk hemat memori
# output_file = 'Dataset_Movies_and_TV.csv'

# # Ambil kolom yang akan digunakan untuk header
# header_cols = list(df_movies.drop(columns=["reviewerID"], errors='ignore').columns) + ["reviewerID"]

# # Tulis header ke file output
# with open(output_file, 'w', encoding='utf-8', newline='') as f:
#     pd.DataFrame(columns=header_cols).to_csv(f, index=False)  # Tulis header

# # Proses data dalam potongan kecil dan menulis ke file
# for i in range(0, len(expanded_data), chunk_size):
#     buffer = expanded_data[i:i+chunk_size]
#     pd.DataFrame(buffer).drop_duplicates().to_csv(output_file, mode='a', header=False, index=False)

# print(f"Hasil merge disimpan ke {output_file}")

Hasil merge disimpan ke Dataset_Movies_and_TV.csv

In [ ]:
# Pastikan hanya kolom yang diperlukan
df_reviews = df_reviews[['reviewerID', 'asin', 'title']]
df_movies = df_movies[['item_id', 'rating', 'entity_id', 'head_id', 'relation_id', 'tail_id']]

# Ubah nama kolom 'asin' di df_reviews menjadi 'item_id' agar cocok dengan df_movies
df_reviews = df_reviews.rename(columns={'asin': 'item_id'})

# Kelompokkan reviewerID berdasarkan item_id
reviewer_groups = df_reviews.groupby('item_id')['reviewerID'].agg(list).reset_index()

# Gabungkan dataset df_movies dengan daftar reviewerID
df_movies = df_movies.merge(reviewer_groups, on='item_id', how='left')

# Fungsi untuk memperbanyak triplet agar jumlahnya sesuai dengan jumlah reviewerID
expanded_rows = []
for _, row in df_movies.iterrows():
    item_data = row.drop(labels=['reviewerID']).to_dict()
    reviewers = row['reviewerID'] if isinstance(row['reviewerID'], list) else []
    
    num_triplets = len(df_movies[df_movies['item_id'] == row['item_id']])
    num_reviewers = len(reviewers)
    
    if num_reviewers > num_triplets:
        repeat_factor = (num_reviewers + num_triplets - 1) // num_triplets  # Pembulatan ke atas
        triplet_expanded = [item_data] * repeat_factor  # Gandakan triplet
    else:
        triplet_expanded = [item_data] * num_triplets  # Biarkan tetap sama jika tidak perlu digandakan
    
    for triplet, reviewer in zip(triplet_expanded, reviewers):
        new_row = triplet.copy()
        new_row['reviewerID'] = reviewer
        expanded_rows.append(new_row)

# Konversi hasil ke DataFrame
df_final = pd.DataFrame(expanded_rows)

# Simpan hasil ke CSV
output_file = 'Dataset_Movies_and_TV.csv'
df_final.to_csv(output_file, index=False, encoding='utf-8')

print(f"Hasil merge disimpan ke {output_file}")

In [49]:
# # Nama file input dan output
# input_file = 'Dataset_Movies_and_TV.csv'
# output_file = 'Reviewer_Counts_Movies_and_TV.csv'

# # Ukuran chunk untuk membaca file CSV bertahap
# chunk_size = 50000  # Sesuaikan jika masih terjadi MemoryError

# # Dictionary untuk menyimpan jumlah reviewer dan daftar reviewerID per item_id
# reviewer_dict = {}

# # Baca file dalam chunk
# for chunk in pd.read_csv(input_file, chunksize=chunk_size, usecols=['item_id', 'reviewerID']):
#     for item_id, reviewer_id in zip(chunk['item_id'], chunk['reviewerID']):
#         if item_id not in reviewer_dict:
#             reviewer_dict[item_id] = set()  # Gunakan set agar reviewerID unik
#         reviewer_dict[item_id].add(reviewer_id)

# # Konversi dictionary ke DataFrame
# reviewer_counts = pd.DataFrame({
#     'item_id': list(reviewer_dict.keys()),
#     'Number of Reviewers': [len(revs) for revs in reviewer_dict.values()],
#     'Reviewer IDs': [list(revs) for revs in reviewer_dict.values()]
# })

# # Simpan hasil ke file CSV
# reviewer_counts.to_csv(output_file, index=False)

# print(f"Hasil perhitungan reviewer disimpan ke {output_file}")

In [7]:
import pandas as pd

df2 = pd.read_csv('Dataset_Movies_and_TV.csv')

# Process the first chunk only to preview data
print(df2.head(15))

       item_id  rating                                          entity_id  \
0   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
1   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
2   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
3   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
4   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
5   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
6   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
7   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
8   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
9   GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
10  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
11  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
12  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
13  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...
14  GAYDAMJVGI     1.0  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...

                                              head_id   relation_id  \
0   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:director
1   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:director
2   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:director
3   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:director
4   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:director
5   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:director
6   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:composer
7   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:composer
8   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:composer
9   res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:composer
10  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:composer
11  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:composer
12  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:producer
13  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:producer
14  res:Steve_Green:_Hide_'em_in_Your_Heart:_13_Bi...  dbo:producer

                 tail_id  reviewerID
0   res:Michael_Merriman      586297
1   res:Michael_Merriman      226404
2   res:Michael_Merriman      178001
3   res:Michael_Merriman      388575
4   res:Michael_Merriman      515515
5   res:Michael_Merriman      367899
6        res:Steve_Green      586297
7        res:Steve_Green      226404
8        res:Steve_Green      178001
9        res:Steve_Green      388575
10       res:Steve_Green      515515
11       res:Steve_Green      367899
12    res:Lauralee_Keach      586297
13    res:Lauralee_Keach      226404
14    res:Lauralee_Keach      178001

In [3]:
# Group by 'asin' and aggregate reviewerID into a list
reviewer_counts = df2.groupby('item_id')['reviewerID'].agg(['nunique', list])

# Rename columns for clarity
reviewer_counts = reviewer_counts.rename(columns={'nunique': 'Number of Reviewers', 'list': 'Reviewer IDs'})

reviewer_counts

,Number of Reviewers,Reviewer IDs
item_id,,
GA2TCMBVGM,28,"[60157, 253582, 295477, 101963, 228413, 220050..."
GA2TINBUGU,1,"[476721, 476721, 476721, 476721, 476721, 47672..."
GA2TOOBQGA,4,"[338315, 1474, 234244, 571883, 338315, 1474, 2..."
GA2TOOBQGQ,4,"[299288, 182647, 34939, 292569, 299288, 182647..."
GA3DCNJRGE,8,"[305549, 18450, 369726, 400197, 214062, 307628..."
...,...,...
GYZTANJSGI,274,"[322783, 194475, 52895, 111701, 106818, 587358..."
GYZTANJSGM,83,"[45388, 347415, 298945, 398816, 171174, 174625..."
GYZTANJSGQ,147,"[477764, 218374, 239014, 612242, 281704, 25188..."
GYZTANJSGU,26,"[458991, 590625, 278891, 309693, 357127, 13120..."
GYZTANJSGY,43,"[610423, 456766, 602671, 328894, 150113, 32173..."

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934345 entries, 0 to 934344
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   item_id      934345 non-null  object
 1   rating       934345 non-null  float64
 2   entity_id    934345 non-null  object
 3   head_id      934345 non-null  object
 4   relation_id  934345 non-null  object
 5   tail_id      934345 non-null  object
 6   reviewerID   934345 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 49.9+ MB

In [5]:
print(df2['item_id'].nunique())

772

In [6]:
# # Load dataset
# file_path = 'Dataset_Movies_and_TV.csv'
# df = pd.read_csv(file_path)

# # Cek jumlah baris sebelum menghapus duplikat
# num_rows_before = len(df)

# # Cek jumlah baris yang duplikat (semua atribut sama)
# duplicated_rows = df.duplicated(keep=False)
# num_duplicates = duplicated_rows.sum()

# # Menampilkan contoh duplikat jika ada
# if num_duplicates > 0:
#     print("Contoh baris duplikat:")
#     print(df[duplicated_rows].head())

# print(f"Jumlah total baris: {num_rows_before}")
# print(f"Jumlah baris duplikat: {num_duplicates}")